*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  min-width: 320px;
  overflow-x: hidden;

  font-family: Montserrat;
  font-style: normal;
  line-height: 100%;
  color: #ffffff;
}

//
:root {
  --h1-size: 30px;
  --text1-size: 18px;
  --text2-size: 14px;
  --text3-size: 12px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: var(--h1-size);
  line-height: 100%;
  text-transform: uppercase;
  color: #4a4a4a;
}
.choose-flat {
  padding: 40px 2.6% 100px 6.2%;
  &__wrapper {
    margin-top: 20px;
  }
  &__filters {
    display: flex;
    align-items: center;
    padding: 14px 40px;
    background-color: #40b8c8;
    &-block {
      display: flex;
      align-items: center;
      &:first-child {
        margin-right: 100px;
      }
    }
    &-title {
      margin-right: 35px;
      font-weight: bold;
      font-size: var(--text3-size);
      text-transform: uppercase;
    }
    &-item {
      padding: 5px 10px;
      margin-right: 20px;
      font-weight: 500;
      font-size: var(--text3-size);
      text-align: center;
      text-transform: uppercase;
      border-radius: 20px;
      transition: background-color 0.3s ease-out;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background-color: #045f71;
        cursor: pointer;
      }
    }
  }
  &__items {
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(5, 17.9%);
    justify-content: space-between;
    row-gap: 40px;
  }
  &__item {
    border: 1px solid #dadada;
    padding: 23px 34px 34px 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s ease-out;
    &:hover img {
      transform: scale(1.05);
    }
  }
  &__title {
    margin-bottom: 28px;
    font-weight: 500;
    font-size: var(--text1-size);
    line-height: 100%;
    text-align: center;
    color: #4a4a4a;
  }
  &__wrap {
    width: 100%;
    margin-top: 27px;
    font-weight: 500;
    font-size: var(--text2-size);
    line-height: 170%;
    color: #4a4a4a;
  }
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__value {
    width: 30%;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 100%;
    margin-top: 20px;
    background-color: #045f71;
    font-weight: 500;
    font-size: var(--text3-size);
    line-height: 100%;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    &-2 {
      margin: 0 auto;
      margin-top: 40px;
      width: 250px;
      a {
        color: #ffffff;
        text-decoration: none;
        background-color: #40B8C8;
      }
    }
  }
}
